/* Variables */
$fondo-barra:rgb(233, 92, 92);

$estilosNovedades: (
   fondo: black,
   overflow: auto,
   bloque: block,
   ancho: 550px,
   alto: 400px, 
);   





*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.letraBlanca{
  color: white;

}

.menuboostrap .navbar-nav  .nav-item {

    .nav-link{
      @extend .letraBlanca;
        font-weight: bold;
      } 

      .nav-link:hover{
     
        color:#0cee9b;
        
      }

}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
    font-weight: bold;
  }

   
  
  .navbar{

    background-color:$fondo-barra;

    .logo{
        width: 60px;
        height: 60px;
    }
}
  
  .bigicon {
    font-size: 35px;
    color: #36A0FF;
  }

  #titulo{
    background-image: linear-gradient(to right, green, #04AA6D, yellow);
    font-size:xx-large;
    font-family: cursive;
    @extend .letraBlanca;
    
  }
  

  .tabla
  {
      display: inline;
      text-align: center;
  }

  .contenido
          {
              grid-column-start: 2;
              grid-column-end: 12;
              background-color: white;
              text-align: center;
          }

          footer{
              background-color:$fondo-barra;
              @extend .letraBlanca;
              min-height: 100px;;
            text-align: center;
              
            }
          
            #iconos  i {
              font-size: 26px;
              padding: 0 8px;
              color:#f3f3f3;
          }

.formulario
{
    @extend .tabla;
}



.botonesFormularioReserva
{
    padding: 10px;
}

 .novedades {
            background-color: map-get($estilosNovedades, fondo);
            overflow: map-get($estilosNovedades, overflow);
            display: map-get($estilosNovedades, bloque);
            max-width: map-get($estilosNovedades, ancho);
            max-height: map-get($estilosNovedades, alto); 
          
          }


    
.novedadesTitulo
          {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 50px;
            font-family: 'Times New Roman', Times, serif;
            @extend .letraBlanca;
          }
          
.novedadesDescripcion
          
          {
            width: 400px;
            margin: auto;
            text-align: justify;
            @extend .letraBlanca;
          }



        .contenidoHome
        {
          display: flex;
        }

        .bienvenida{

            font-size:xx-large;
        }


        th,td{
            text-align:center;
            padding:5px 0;
          }

          .tabla 
          {
          th{
            background-image:linear-gradient(to bottom, yellow,green);
            @extend .letraBlanca;
           padding: 5px;
          }
          
         td{
            background-color: orange;
          }
        }

        .formulario td{
            background-color: white;
            text-align:left;
            padding:5px 0;
          }




@mixin linesMargin($lineH, $marginL) {
            line-height: $lineH;
            margin-left: $marginL;
         }

#reglamento{
               
            padding-right: 10px;
            text-align: justify;
            h3{
                @include linesMargin(50px,10px );
            }
            h4{
              @include linesMargin(30px,20px );
              font-weight: normal;
              }
              ul{
                @include linesMargin(30px,40px );
                }
              ol{
                    margin-block-start: 30px;
                    margin-left: 30px;
                 }
      }  


$redes: ( /*Declaramos nuestro mapa*/
        twitter: #55acee,
        facebook:  #3a5795,
        instagram: #C25E30
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
   .btn--#{$red} {
       background-color: $color;
   }
}
